// colors
$lightBlue: #C7F7FF;
$medBlue: #89C0C9;
$darkBlue: #3a5E63;
$lightBrown: #C9A689;
$darkBrown: #7C593C;
$lightGrey: #d4d4d4;
$darkGrey: #222;

// fonts
$mainFontFamily: 'Josefin Sans', "Trebuchet MS", Helvetica, sans-serif; /* default for whole page */
$headerFontFamily: Cardo, "Palatino Linotype", "Book Antiqua", Palatino, serif; /* serif for the headings */

// breakpoints
$sm: 700px;
$md: 900px;
$lg: 1400px;

// font sizes
$fScale: 1.414;
@function fs($level: 1) {
    $fs: 1;
    @for $i from 1 to $level {
        $fs: $fs * $fScale;
      }
    @return #{$fs}rem
}

// languages
$languages1: sv pt fr no hi es;
$languages2: ("en":1, "ar":1, "ru":1, "de":1);
